# Python bytecode
__pycache__/
*.py[cod]

# Numba on-disk JIT cache (written by @njit(cache=True))
*.nbc
*.nbi

# Experiment outputs
*.npy
*.npz
*.png
*.pdf
results/
models/*/model.pt
docs/gmc_paper_src.html
